/* General page reset */
body {
  margin: 0;
  padding: 0;
}


/* Input fields */
.input-field {
  position: absolute;
  font-family: "MS Sans Serif", 'Segoe UI', Tahoma, sans-serif;
  font-size: 13px;
  padding: 2px;
  width: 160px;
  background: none;
  border: none;
  outline: none;
  font-weight: normal;
  color: black;
  padding-left: 4px;
  font-smooth: never;
  -webkit-font-smoothing: none; /* For Chrome/Safari */
  -moz-osx-font-smoothing: grayscale; /* For Firefox */
}
